API Key
.env

# Hardhat
artifacts/
cache/

# Dependencies & build
node_modules/
dist/

# Claude Code
.claude/

# Backup
bu/

# Local Netlify folder
.netlify

# Playwright
test-results/
playwright-report/
