      a {
    color: #fff;}
  .btn-primary {
    color: white;
    background-color: #006aff;
    width: 100%;}
body{
   background: #0b171b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
;

color: grey;
min-height: 71vw;
}
h1,h2,h3,h4{
  font-weight: 800;
  color: #006aff ;
}
.navbar svg{
    width: 10px;
}
.bk{
background: #001027d6;
margin-top: 26px;

padding: 6%!important;

    border-radius: 7px;

}
    #walleticon{
    	width: 30px;
    	float: right;
    }

.iahRRQ{
	background-color: #00000029!important;
}


.blPCAu {
    border: solid 1px white!important;
    background-color: #23a6d524!important;
    color: white!important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.css-selector {
    background: linear-gradient(192deg, #ff00fa, #5c1c58, #040404);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
.navbar{
	display: block;
    height: 46px;
    margin-top: 15px;
}
h1{
	font-size: 5rem;
  color: #006aff;
}
.main{
	padding: 10%;

}
.logoi{
  width: 32px;
}
.bk2{
  font-size: 11px;
    background: #3c3a46;
    padding: 2%;
    border-radius: 6px;
}
.bk2 label{
color: aquamarine;
}



@media only screen and (max-width: 600px){
    body{
        background-size: 1216px!important
    }
h1 {
    font-size: 3.6rem;
    width: 122px;
}
.navbar a {

    font-size: 12px;
}

.logoi{
    width: 18px!important;
}

}