 tr{
    background: #0d1c27;
  }
  small{
    color: grey;
    font-size: 9px;
  }
    #transaction-summary {
    display: block;
        color: white;
        font-weight: 600;
}
.bk1{
  background: #157ecfe8!important;
}
#wallet-details{
  text-align: left;
  padding: 8%;
}
.dnone{
  display: none!important;
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.wallet{
  position: absolute;
    top: 10px;
    right: 10px;
}

  h1{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
  }
  table{
    font-size: 14px;
    border: none;
    width: 100%;
  }
.logo{
  filter: invert(1);
}
button#signinbutton {
    width: 100%;
    padding: 21px;
    background: #006aff;
    color: #0b171b;
}
  .theme-sel
  {

    right: 10px;
    top: 10px;
    display: block;
    width: 57px;
    height: 26px;
    background: #3a3a3a;
    border-radius: 15px;
    padding: 10px;
}
.svg-r{
  width: 30px;
  filter: invert(1);
}
    /*animated bk*/
button {
    background: #0d1c27;
    border: none;
    border-radius: 5px;
    color: #616161;
    padding: 7px;
    font-size: 0.8rem;
}

.circle {
    position: absolute;
    border-radius: 53px;
    filter: blur(23px);
    background: #00c5ff;
    animation: ripple 7s infinite;
    /* box-shadow: 0px 0px 1px 0px #508fb9; */
}

.small {
    width: 106px;
    height: 126px;
    left: -54px;
    bottom: -100px;
}

.medium{

}

.large{

}

.xlarge{

}

.xxlarge{

}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
/*custom*/
.coinx svg{
  width: 28px;padding-top: 10px;
}
.col-coins, .col-parties{
display: inline-block;
width: 49%;
vertical-align: top;
}
.swap-logo{
  max-width: 67px!important;
}
.eth-logo{

      max-width: 133px;
    margin: auto;
    display: block;
    padding: 10px;
}
label{
  padding-top: 10px;
  display: block;

}
.daytheme .modal-content {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.daytheme .cl5 {
    display: inline-block;
    width: 92%;
    margin: 7px;
    border-radius: 10px;
    text-align: center;
    background: #e7e7e7;
    color: black;
    padding: 36px;
}
.daytheme .kpi-box {
    border: 1px solid #ffffff;
    background: #e7e7e7;
    display: inline-block;
    width: 49%;
    border-radius: 5px;
    text-align: center;
    color: black;
}
.daytheme p{
  color: black!important;
}
.daytheme tr{
    background: #e7e7e7;
}

.daytheme  .logoi {
    filter: brightness(1);
    width: 10px;
}
.daytheme .content-inputs {
  background: #f3f3f3;
}
.daytheme input[type="text" ] {
  background: #f5f5f5;
  color: black;
      width: 51%;
}
#xrpChart {
    display: block;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
        canvas { max-width: 90%; margin: 20px auto; background: #0b171b; border-radius: 10px; }
        .time-buttons button {
            background-color: #1e3a8a; color: white; border: none; padding: 8px 12px; margin: 5px;
            cursor: pointer; border-radius: 5px; font-weight: bold;
        }
        .time-buttons button:hover { background-color: #2563eb; }
.content-inputs{
border-radius: 31px;
  margin: auto;
    display: block;
    text-align: center;
    background: #0e202ea1;
    max-width: 80%;
    padding: 6px;
  }

  .cl5{
    display: inline-block;
    width: 94.6%;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
    
    padding: 24px;
  }
  div#total-balance {
    font-size: 3rem;
    font-weight: bold;
}


.xrpnav button{
margin-top: 8%;
    padding: 1% !important;
    width: 20% !important;
    font-size: 10px!important;
    display: inline-block;
    background: none;
    border: none;
    color: white;
}
.xrpnav svg{
  filter: invert(1);
  width: 40px;
  display: block;
    margin: auto;
}
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    table, th, td {
      border: 0px solid #ddd;
    }
th, td {
    padding: 10px;
    text-align: left;
    width: 22%;
    display: inline-block;
}
    th {
      background-color: ;
    }
.hash-t{
  word-break: break-word;
}
    .pagination {
      margin-top: 20px;
      text-align: center;
    }
    .pagination button {
      margin: 0 5px;
      padding: 10px 15px;
      border: 1px solid #ddd;
      background-color: #f4f4f4;
      cursor: pointer;
    }
    .pagination button.active {
      background-color: #007BFF;
      color: white;
    }

    /* Responsive Table Styling */
    .table-wrapper {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    table {
      min-width: 100%;
    }
    @media (max-width: 900px) {
      table {
        font-size: 12px;
      }
      th, td {
        padding: 8px;
        white-space-collapse: initial;
        word-break: break-word;
      }
      tr{
      
      }
    }

    /* Excel Button */
    .excel-button {
      display: inline-flex;
      align-items: center;
      padding: 10px 15px;
      margin-top: 20px;
      background-color: #28a745;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
    .excel-button:hover {
      background-color: #218838;
    }
    .excel-button img {
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }
    input[type="text" ] {
margin-top: 10px;
 color: white;
    padding: 18px 52px;
    border-radius: 5px;
        background: #172931;
    border: 0px solid #eaeaea;
    box-shadow: 1px 0px 8px 0px #157ca0;
    width: 51%;
}
    input[type="number" ] {
margin-top: 10px;
 color: white;
    padding: 18px 52px;
    border-radius: 5px;
        background: #172931;
    border: 0px solid #eaeaea;
    box-shadow: 1px 0px 8px 0px #157ca0;
    width: 51%;
}
a{
  color: #00daff;
    text-decoration: none;
}
.success{
  color:#00ff67!important;
}
.btn{
    background: #00c1ff;
    padding: 18px 75px;
    color: #0c171c;
    width: 342px;
    display: block;
    margin: auto;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 14px;
    cursor: pointer;
}

.day svg{
  width: 1.5rem;
  padding: 2%;
  float:right;
}
.night svg{
width: 1.4rem;
padding: 3px;
}
#location{
  float: right;
}
body.daytheme {
  background: white!important;
  color: black!important;
}

@media only screen and (max-width: 600px) {
  #signinbutton{
        width: 100%;
        background: #00ff007d;
        color: white;
        padding: 13px;
    }
  

  #transaction-summary {
    display: block;
        color: white;
        font-weight: 600;
}
.cl5 {
        /* display: inline-block; */
        width: 99.9%!important;
        /* margin: 7px; */
        border-radius: 5px;
        text-align: center;
        

    }
div#total-balance {
    font-size: 32px;
}

  input[type="text" ] {
      width: 65%;
  }
  .content-inputs {
    border-radius: 31px;
    margin: auto;
    display: block;
    text-align: center;
    background: #0e202ea1;
    max-width: 100%;}
}
a {
    color: #fff;
    text-shadow: 1px 1px black;;
}
  .btn-primary {
    color: white;
    background-color: #006aff;
    width: 100%;
max-width: 380px;}
body{
   background: #0b171b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
color: grey;
min-height: 71vw;
}
h1,h2,h3,h4{
  font-weight: 800;
  color: #006aff ;
}
.navbar svg{
    width: 10px;
}
.bk{
background: #001027d6;
margin-top: 26px;

padding: 6%!important;

    border-radius: 7px;

}
    #walleticon{
    	width: 30px;
    	float: right;
    }

.iahRRQ{
	background-color: #00000029!important;
}


.blPCAu {
    border: solid 1px white!important;
    background-color: #23a6d524!important;
    color: white!important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.css-selector {
    background: linear-gradient(192deg, #ff00fa, #5c1c58, #040404);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
@keyframes AnimationName {
    0%{background-position:63% 0%}
    50%{background-position:38% 100%}
    100%{background-position:63% 0%}
}
.navbar{
	display: block;
    background: #00183aba;
    margin-top: 15px;
}
h1{
	font-size: 5rem;
  color: #006aff;
}
.main{
	padding: 10%;

}
.logoi{
    filter: brightness(10);
  width: 10px;
}
.bk2{
  font-size: 11px;
    background: #3c3a46;
    padding: 2%;
    border-radius: 6px;
}
.bk2 label{
color: #006aff;
}

table{
  width: 100%;
  font-size: 12px;
}
tbody#transaction-table-body {
    width: 100%;
}
.kpi-box {
    border: 1px solid #0b171b;
    background: #0e202ea1;
    display: inline-block;
    width: 49%;
    border-radius: 5px;
    text-align: center;
}
p#balance-usd {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
p#total-transactions {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
p#total-received {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
p#total-sent {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
button#downloadCSV {
    width: 100%;
    padding: 26px;
    
    color: white;
}
@media only screen and (max-width: 600px){
  div#tanda {
    margin-top: 44%;
}
  .logoi {
    width: 20px!important;
}
  button {
    font-size: 0.9rem!important;}
    body{
        background-size: 1216px!important;
        background-position: 0px 0px !important;
    }
h1 {
    font-size: 3.6rem;
}
.navbar a {

    font-size: 12px;
}

.logoi{
    width: 18px!important;
}

}